.header {
	padding-top: 25px;
	padding-bottom: 20px;
	@include r(1080) {

	}
	&__container {
		@include r(1080) {
			display: flex;
			flex-direction: column;
		}
	}
	&__line {
		position: relative;
		&--1 {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding-bottom: 10px;
			@include r(1080) {
				justify-content: center;
			}
		}
		&--2 {
			padding-top: 10px;
			align-items: center;
			display: flex;
			justify-content: space-between;
			@include r(1080) {
				flex-wrap: wrap;
				order: -1;
			}
		}
		&--drop {
			.dropdown {
				opacity: 1;
				max-height: 1800px;
			}
		}
	}
	&__logo {
		display: inline-block;
		img {
			width: 160px;
			height: 84px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__langs {
		margin-left: 60px;
		@include r(1080) {
			display: none;
		}
	}
	&__lang-link {
		text-decoration: none;
		font-weight: 500;
		color: $dark;
		&:hover {
			opacity: 0.5;
		}
		&--active {
			color: $blue;
			pointer-event: none;
		}
	}
	&__phone {
		text-decoration: none;
		color: $blue;
		strong {
			font-weight: 800;
			font-size: rem(18px);
			line-height: rem(27px);
		}
	}
	&__btn {
		border: 2px solid $orange;
		box-sizing: border-box;
		border-radius: 4px;
		color: $dark;
		text-decoration: none;
		padding: rem(8px) rem(15px);
		&:hover {
			background-color: $orange;
			color: $light;
		}
	}
	&__search {
		position: relative;
		input {
			width: 100%;
			height: rem(36px);
			padding-left: 17px;
			padding-right: 17px;
			box-sizing: border-box;
			border: 1px solid $green;
			box-sizing: border-box;
			border-radius: 4px;
			font-family: $main-font;
			font-size: rem(16px);
			line-height: rem(24px);
			color: $green;
		}
	}
	&__burger {
		cursor: pointer;
		transition: 0.3s all;
		padding: 8px;
		margin-right: 12px;
		@include r(1080) {
			display: none;
		}
		svg {
			height: rem(18px);
			width: rem(18px);
			display: block;
		}
		&:hover {
			opacity: 0.6;
		}
	}
	&__nav {
		flex-grow: 1;
		@include r(1080) {
			display: none;
		}
	}
	&__link {
		color: $dark;
		text-decoration: none;
		margin-right: 32px;
		&:hover {
			opacity: 0.6;
		}
		&:last-child {
			margin-right: 0px;
		}
	}
	&__column {
		&--1 {
			@include r(1080) {
				width: 100%;
				text-align: center;
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
		&--2 {
			text-align: center;
			@include r(1080) {
				display: none;
			}
		}
		&--3 {
			text-align: center;
			@include r(1080) {
				text-align: left;
				width: 50%;
				order: -1;
			}
		}
		&--4 {
			@include r(1080) {
				display: none;
			}			
		}
		&--5 {
			
		}
	}
}

.dropdown {
	background-color: $dark;
	color: $light;
	z-index: 3;
	max-height: 0px;
	@include r(1080) {
		display: none;
	}
	overflow: hidden;
	transition: 0.3s all;
	opacity: 0;
	&--open {
		max-height: 1600px;
		opacity: 1;
	}
	&__content {
		box-sizing: border-box;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: calc(100% / 12);
		padding-right: calc(100% / 12 * 3);
		column-count: 3;
		column-gap: 100px;
		li {
			border-bottom: 1px solid #557383;
			// padding-bottom: rem(10px);
			margin-bottom: rem(14px);
		}
		a {
			text-decoration: none;
			color: $light;
			font-weight: 500;
			display: inline-block;
			width: 100%;
			user-select: none !important;
			margin-bottom: 14px;
			
		}
		li {
			ul {
				li {
					border-bottom: 0px;
					// padding-left: rem(20px);
					padding-top: 0px;
					// margin-bottom: rem(4px);
					margin-bottom: 0.75rem;
					border-bottom: none;
				}
				a {
					color: $green;
					margin-bottom: 0px;
					
				}
			}
		}
	}
}

.mob-menu {
	display: none;
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
	@include r(1080) {
		order: -1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 12px;
		svg {
			height: 22px;
			width: 22px;
		}
	}
}