.section {
	position: relative;
	padding-top: rem(50px);
	padding-bottom: rem(50px);
	&--breadcrumbs {
		background-color: $light;
		margin-bottom: rem(45px);
		padding-top: 0;
		padding-bottom: 0;
	}
	&--top {
		padding-top: 0;
	}
	&--bottom {
		margin-bottom: rem(95px);
	}
	&--friends {
		padding-top: rem(55px);
		padding-bottom: rem(95px);
	}
	&--subscription {
		background-color: $orange;
		color: $light;
	}
	&--discription {
		background-color: $dark;
		color: $light;
		padding-top: rem(38px);
		padding-bottom: rem(38px);
	}
	&--footer {
		padding-top: 0;
		padding-bottom: 0;
	}

	&--accent {
		background-color: $blue;
		color: $light;
		padding-top: rem(50px);
		padding-bottom: rem(50px);
		margin-bottom: rem(45px);
		margin-top: rem(45px);
	}

	&--info {
		padding-top: rem(60px);
		font-size: rem(20px);
		padding-bottom: rem(90px);
		background: #F0F6FA;
		margin-bottom: rem(48px);
		p {
			margin-bottom: 1rem;
			&:last-child {
				margin-bottom: 0px;
				&:after {
					clear: both;
				}
			}
		}
	}
	// info-3
	&--contacts {
		padding-top: 14.6875rem;
	}
	&--map {
		margin-bottom: rem(-210px);
		padding: 0;
	}
}