.column {
	&-1 {
		width: calc(100% / 12);
	}
	&-2 {
		width: calc(100% / 12 * 2);
	}
	&-3 {
		width: calc(100% / 12 * 3);
	}
	&-4 {
		width: calc(100% / 12 * 4);
		@include r(1080) {
			width: 100%;
		}
	}
	&-5 {
		width: calc(100% / 12 * 5);
	}
	&-6 {
		width: 50%;
	}
	&-7 {
		width: calc(100% / 12 * 7);
	}
	&-8 {
		width: calc(100% / 12 * 8);
		@include r(1080) {
			width: 100%;
		}
	}
	&-9 {
		width: calc(100% / 12 * 9);
	}
	&-10 {
		width: calc(100% / 12 * 11);
	}
	&-11 {
		width: calc(100% / 12 * 11);
	}
}

.columns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__column {
		margin-bottom: 1rem;
		&--50 {
			width: calc(50% - 10px);
			@include r(1080) {
				width: 100%;
			}
		}
		&--33 {
			width: calc(33% - 10px);
			@include r(1080) {
				width: 100%;
			}
		}
	}
}