.subtabs {
	margin-bottom: 2.5rem;
	&__tab {
		text-decoration: none;
		color: $blue;
		font-weight: bold;
		font-size: rem(18px);
		display: inline-block;
		margin-right: rem(32px);
		transition: 0.3s all;
		&:hover {
			opacity: 0.7;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}