.front-intro {
	&__slider {

	}
	&__slider-wrapper {

	}
	&__slide {
		position: relative;
		img {
			display: block;
			width: 100%;
		}
	}
	&__control {
		position: absolute;
		z-index: 2;
		bottom: 15px;
		right: 19px;
		display: flex;
		justify-content: flex-end;
	}
	&__btn {
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
		transition: 0.3s all;
		z-index: 3;
		position: absolute;
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
		padding-left: 25px;
		padding-right: 25px;
		&:hover {
			opacity: 0.7;
		}
	}
	&__swipe {
		width: 40px;
		height: 40px;
		svg {
			fill: $light;
			display: block;
		}
		&--prev {
			margin-right: 10px;
			svg {
				transform: rotate(180deg);
			}
		}
		&--next {
			
		}
		&--disabled {
			opacity: 0.6;
			pointer-events: none;
		}
	}
}