.result-page {
	text-align: center;
	&__title {
		margin-bottom: rem(20px);
	}
	&__title-discript {
		margin-bottom: rem(35px);
		font-weight: 800;
	}
	&__accent-block {
		padding-top: rem(38px);
		padding-bottom: rem(38px);
		color: #8EAAB6;
		padding-left: rem(20px);
		padding-right: rem(20px);
		background-color: #F0F6FA;
		border-radius: 4px;
		font-weight: 800;
		font-size: rem(26px);
		margin-bottom: rem(30px);
	}
	&__content {
		margin-bottom: rem(40px);
	}
	&__results {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__result {
		text-align: center;
		width: 25%;
		margin-bottom: rem(20px);
		&--clear {
			height: 0px;
			overflow: hidden;
		}
		a {
			color: #557383;
			&:hover {
				text-decoration: none;
			}
		}
	}
}