.sms {
	&__text {
		margin-bottom: 14px;
		text-align: center;
		strong {
			display: inline-block;
			background-color: $orange;
			padding-left: 3px;
			padding-right: 3px;
			font-weight: 600;
		}
	}
}