.socials {
	&__link {
		display: inline-block;
		margin-right: rem(6px);
		&:last-child {
			margin-right: 0;
		}
		svg {
			width: rem(24px);
			height: rem(24px);
			display: block;
			@include r(1080) {
				width: rem(30px);
				height: rem(30px);
			}
		}
		&:hover {
			opacity: 0.6;
		}
	}
}