.btn {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: rem(8px);
    cursor: pointer;
    text-decoration: none;
    color: $dark;
    &:hover {
        opacity: 0.75;
    }
    &--252 {
        width: 252px;
    }
    &--normal {
        width: fit-content;
        padding-left: 40px;
        padding-right: 40px;
        display: inline-flex;
    }
    &--dasheed {
        border: 2px dashed $green;
        box-sizing: border-box;
        border-radius: 4px;
    }
    &--orange {
        height: 40px;
        border-radius: 25px;
        color: $light;
        background-color: $orange;
        font-weight: 800;
        font-size: rem(16px);
        line-height: rem(24px);
        box-shadow: 2px 2px 6px rgba(250, 135, 61, 0.5);
    }
    &--light {
        height: 40px;
        border-radius: 25px;
        color: $blue;
        background-color: $light;
        font-weight: 800;
        font-size: rem(16px);
        line-height: rem(24px);
    }
}
