.btn {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: rem(8px);
    cursor: pointer;
    text-decoration: none;
    color: $dark;
    &:hover {
        opacity: 0.75;
    }
    &--normal {
        width: fit-content;
        padding-left: rem(40px);
        padding-right: rem(40px);
        display: inline-flex;
    }
    &--dasheed {
        border: 2px dashed $green;
        box-sizing: border-box;
        border-radius: 4px;
    }
    &--orange {
        height: rem(40px);
        border-radius: rem(25px);
        color: $light;
        background-color: $orange;
        font-weight: 800;
        font-size: rem(16px);
        line-height: rem(24px);
        box-shadow: 2px 2px 6px rgba(250, 135, 61, 0.5);
    }
    &--light {
        height: rem(40px);
        border-radius: rem(25px);
        color: $blue;
        background-color: $light;
        font-weight: 800;
        font-size: rem(16px);
        line-height: rem(24px);
    }
    &--title {
        @include r(1080) {
            margin-top: rem(10px);
        }
    }
}
