<!DOCTYPE html>
<html lang="ru">
<head>
    <title>10. ВерюВЧудовцы</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="decor">
            <div class="container">
                <!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
                <!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
            </div> 
        </section>
        <section class="breadcrumbs">
            <div class="container breadcrumbs__container">
                <div class="breadcrumbs__content">
                    <a href="/" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        ВерюВЧудовцы
                    </span>
                </div>
            </div>
        </section>
        <section class="single-page">
            <div class="container">
                <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент">
                <div class="title single-page__title">
                    <h2 class="title__text">
                        ВерюВЧудовцы
                    </h2>
                </div>
                <div class="single-page__tabs">
                    <a href="" class="single-page__tab">
                        Новости
                    </a>
                    <a href="" class="single-page__tab">
                        Команда
                    </a>
                    <a href="" class="single-page__tab">
                        Попечители
                    </a>
                    <a href="" class="single-page__tab">
                        F.A.Q.
                    </a>
                    <a href="" class="single-page__tab">
                        Библиотека
                    </a>
                </div>
                <div class="single-page__columns">
                    <div class="single-page__column">
                        <div class="single-page__content text">
                            <h4>
                                Какую помощь оказывает «Верю в чудо» адресно?
                            </h4>
                            <p>
                                Благотворительный центр «Верю в чудо» – Калининградская региональная общественная  молодежная благотворительная организация.
                            </p>
                            <p>
                                В Калининграде с 2007 года (официально в статусе зарегистрированной НКО  – с 2009).
                            </p>
                            <p>
                                Свыше 12 лет Центр помогает детям с тяжелыми излечимыми и неизлечимыми заболеваниями, детям, оставшимся без попечения родителей, семьям детей; содействует детским медицинским и социальным учреждениям, развивает волонтёрство и благотворительность, помогает повышению компетенции медицинских и социальных работников. С 2013 развиваем сферу оказания паллиативной хосписной помощи детям.
                            </p>
                            <figure>
                                <img src="http://placehold.it/1080x600" alt="Макака на дереве">
                                <figcaption>
                                    Описание фотографии со <a href="http://www.flickr.com/photos/rclark/">ссылкой</a> внутри
                                </figcaption>
                            </figure>
                            <p>
                                Ежегодно Центр оказывает помощь в среднем 12 500 детям и их семьям.
                            </p>
                            <p>
                                Сегодня команда «Верю в чудо» состоит из волонтёров и сотрудников, хотя до 2012 года в организации трудились только добровольцы. Волонтёрскими силами решается большая часть задач, что делает Центр «Верю в чудо» не только уникальной в плане консолидации сил и стремлений неравнодушных людей площадкой, но и позволяет оказывать существенную, в т.ч. материальную помощь нуждающимся семьям с болеющими детьми.
                            </p>
                            <p>
                                В 2017 году Центр «Верю в чудо», накопивший большой опыт в сопровождении детей, стал учредителем частного благотворительного медицинского учреждения «Хоспис для детей и молодых взрослых «Дом Фрупполо»».
                            </p>
                            <p>
                                Строительство в Калининграде детского хосписа осуществляется параллельно с системной работой по сопровождению детей в рамках существующих благотворительных программ.
                            </p>
                        </div>
                    </div>
                    <div class="accent text single-page__column">
                        <h6>
                            Документы
                        </h6>
                        <a href="">Годовой отчет за 2018 год</a><br>
                        <a href="">Реквизиты Верю в чудо</a><br>
                        <a href="">Типовой договор пожертвований</a>
                        <h6>
                            Уставные документы «Верю в чудо»
                        </h6>
                        <a href="">Устав Благотворительного центра «Верю в чудо»</a>
                        <a href="">Свидетельство о постановке в налоговом органе</a>
                        <a href="">Свидетельство о государственной регистрации</a>
                        <a href="">Свидетельство о внесении записи в ЕГРЮЛ</a>
                        <a href="">Протокол Пролонгации полномочий Директора «Верю в чудо» до 2021 года.</a>
                        <h6>
                            Журнал о волонтёрстве и благотворительности «Верю в чудо»
                            («Добрая газета»)
                        </h6>
                        <a href="">Выпуск 1</a>
                        <a href="">Выпуск 2</a>
                        <a href="">Выпуск 3</a>
                        <a href="">Выпуск 4</a>
                        <a href="">Выпуск 5</a>
                        <a href="">Выпуск 6</a>
                        <a href="">Выпуск 7</a>
                        <a href="">Выпуск 8</a>
                        <a href="">Выпуск 9</a>
                        <a href="">Выпуск 10</a>
                        <a href="">Выпуск 11</a>
                        <a href="">Выпуск 12</a>
                        <a href="">Выпуск 13</a>
                    </div>
                </div>

            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
