<!DOCTYPE html>
<html lang="ru">
<head>
    <title>11.Новости</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="decor">
            <div class="container">
                <!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
                <!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
            </div> 
        </section>
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <a href="/10-page.html" class="breadcrumbs__link">
                        ВерюВЧудовцы
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Новости
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--top section--bottom">
            <div class="container">
                <div class="title title--left">
                    <h2 class="title__text">
                        Новости
                    </h2>
                </div>
                <div class="articles">
                    <div class="articles__content">
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-news/article-news.html")
                        </div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                    </div>
                    <div class="articles__toolbar">
                        @@include("../blocks/modules/pagination/pagination.html")
                    </div>
                </div>                    
            </div>
        </section>
        <section class="section section--accent">
            <div class="container">
                @@include("../blocks/modules/info/info.html")
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
