<!DOCTYPE html>
<html lang="ru">
<head>
    <title>12. Команда Верю в чудо</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body body--style-1" style="background-image: url('img/page-decor--left.svg'), url('img/page-decor--right.svg'), url('img/page-decor--left2.svg'), url('img/page-decor--right2.svg');">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <a href="/10-page.html" class="breadcrumbs__link">
                        ВерюВЧудовцы
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Команда
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--top">
            <div class="container">
                <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент">

                <div class="title title--toolbar">
                    <h2 class="title__text">
                        Команда Верю В Чудо
                    </h2>
                    <div class="title__toolbar">
                        <button class="slider-btn slider-btn--prev slider-btn--team slider-btn--team-prev">
                            <svg class="icon-svg">
                                <use xlink:href="./img/sprites/sprite.svg#next"></use>
                            </svg>
                        </button>
                        <button class="slider-btn slider-btn--next slider-btn--team slider-btn--team-next">
                            <svg class="icon-svg">
                                <use xlink:href="./img/sprites/sprite.svg#next"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                @@include("../blocks/modules/team/team.html")
            </div>
        </section>
        <section class="section section--info">
            <div class="container">
                <div class="text">
                    <p>
                        До 2012 года Благотворительный центр «Верю в чудо» был исключительно волонтёрским.
                    </p>
                    <p>
                        Сегодня в центре трудятся в качестве сотрудников 25 человек. Они ежедневно решают административные и организационные задачи, координируют работу свыше 400 волонтёров, а также занимаются комплексной и системной помощью подопечным детям.
                    </p>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="title title--blue title--toolbar">
                    <h2 class="title__text">
                        Команда «Верю в чудо» — это:
                    </h2>
                    <a href="" class="btn btn--normal btn--title btn--dasheed">Схема коммуникации «Верю в чудо»</a>
                </div>
                <div class="columns">
                    <div class="columns__column columns__column--33">
                        <div class="text">
                            <h4>
                                Команда хосписно-паллиативной службы:
                            </h4>
                            <ul>
                                <li>
                                    <span>
                                        Руководитель службы
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Медицинский юрист
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Бренд-менеджер
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Врачи (3 врача)
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Психологи (3 человека)
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Медико-социальные няни (2 человека)
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Старшая медицинская сестра (1 человек)
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Медицинская сестра (1 человек)
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Координатор проекта «Дом Фрупполо»
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="columns__column columns__column--33">
                        <div class="text">
                            <h4>
                                Административный штат:
                            </h4>
                            <ul>
                                <li>
                                    <span>
                                        директор
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        коммуникативный координатор
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        контент-менеджер
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        координатор волонтёрских проектов
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        ивент-фандрайзер
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        бухгалтер
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="columns__column columns__column--33">
                        <div class="text">
                            <h4>
                                Проектные сотрудники:
                            </h4>
                            <ul>
                                <li>
                                    <span>
                                        Руководитель программы «Больничные дети-сироты»
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        СуперМамы (нянечки в больницах; 5 человек)
                                    </span>
                                </li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--accent">
            <div class="container">
                @@include("../blocks/modules/form/form.html")
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
