<!DOCTYPE html>
<html lang="ru">
<head>
    <title>12. Команда Верю в чудо</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <section class="decor">
        <div class="container">
            <!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
            <!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
        </div> 
    </section>
    <section class="breadcrumbs">
        <div class="container breadcrumbs__container">
            <div class="breadcrumbs__content">
                <a href="/" class="breadcrumbs__link">
                    Главная
                </a>
                <svg class="icon-svg breadcrumbs__arrow">
                    <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                </svg>
                <a href="/10-page.html" class="breadcrumbs__link">
                    ВерюВЧудовцы
                </a>
                <svg class="icon-svg breadcrumbs__arrow">
                    <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                </svg>
                <span class="breadcrumbs__link breadcrumbs__link--static">
                    Команда
                </span>
            </div>
        </div>
    </section>
    <section class="team-page">
        <div class="container">
            <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент">
            <div class="title team-page__title">
                <h2 class="title__text">
                    Команда Верю В Чудо
                </h2>
            </div>
            Слайдер
        </div>
    </section>
    <section class="accent-section">
        <div class="container">
            <p>
                До 2012 года Благотворительный центр «Верю в чудо» был исключительно волонтёрским.
            </p>
            <p>
                Сегодня в центре трудятся в качестве сотрудников 25 человек. Они ежедневно решают административные и организационные задачи, координируют работу свыше 400 волонтёров, а также занимаются комплексной и системной помощью подопечным детям.
            </p>
        </div>
    </section>
    <section class="team-page">
        <div class="container">
            <div class="title title--blue team-page__title">
                <h2 class="title__text">
                    Команда «Верю в чудо» — это:
                </h2>
                <a href="" class="team-page__btn btn btn--dasheed">Схема коммуникации «Верю в чудо»</a>
            </div>
            <div class="team-page__columns">
                <div class="team-page__column text">
                    <h4>
                        Команда хосписно-паллиативной службы:
                    </h4>
                    <ul>
                        <li>
                            Руководитель службы
                        </li>
                        <li>
                            Медицинский юрист
                        </li>
                        <li>
                            Бренд-менеджер
                        </li>
                        <li>
                            Врачи (3 врача)
                        </li>
                        <li>
                            Психологи (3 человека)
                        </li>
                        <li>
                            Медико-социальные няни (2 человека)
                        </li>
                        <li>
                            Старшая медицинская сестра (1 человек)
                        </li>
                        <li>
                            Медицинская сестра (1 человек)
                        </li>
                        <li>
                            Координатор проекта «Дом Фрупполо»
                        </li>
                    </ul>
                </div>
                <div class="team-page__column text">
                    <h4>
                        Административный штат:
                    </h4>
                    <ul>
                        <li>директор</li>
                        <li>коммуникативный координатор</li>
                        <li>контент-менеджер</li>
                        <li>координатор волонтёрских проектов</li>
                        <li>ивент-фандрайзер</li>
                        <li>бухгалтер</li>
                    </ul>
                </div>
                <div class="team-page__column text">
                    <h4>
                        Проектные сотрудники:
                    </h4>
                    <ul>
                        <li>Руководитель программы «Больничные дети-сироты»</li>
                        <li>СуперМамы (нянечки в больницах; 5 человек)</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    @@include("../blocks/modules/form/form.html")
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
