<!DOCTYPE html>
<html lang="ru">
<head>
    <title>13. Попечители</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="decor">
            <div class="container">
                <!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
                <!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
            </div> 
        </section>
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <a href="/10-page.html" class="breadcrumbs__link">
                        ВерюВЧудовцы
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Попечители
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--top">
            <div class="container">
                <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент">
                <div class="title">
                    <h2 class="title__text">
                        Попечители
                    </h2>
                </div>
                <div class="text">
                    <p>
                        Попечители Благотворительного центра «Верю в чудо» — это люди и организации, являющиеся частью команды Центра. Они участвуют в разработке стратегического плана, участвуют в жизни подопечных семей. Всё, что они делают для нас и наших Детей — добровольный и безвозмездный вклад.
                    </p>
                    <p>
                        Наши попечители уже успешны и благополучны: они добились успехов в своей сфере деятельности, пользуются заслуженным уважением окружающих, обладают активной гражданской позицией. Но главное, что их объединяет – любовь к детям, неравнодушное отношение, высокоразвитое чувство ответственности, желание помогать, вносить свой вклад в благое дело. 
                    </p>
                </div>
                <div class="columns">
                    <div class="columns__column columns__column--50">
                        <div class="articles">
                            <div class="articles__content">
                                @@include("../blocks/modules/sponsor/sponsor.html")
                                @@include("../blocks/modules/sponsor/sponsor.html")
                                @@include("../blocks/modules/sponsor/sponsor.html")
                                @@include("../blocks/modules/sponsor/sponsor.html")
                                @@include("../blocks/modules/sponsor/sponsor.html")
                                @@include("../blocks/modules/sponsor/sponsor.html")
                                @@include("../blocks/modules/sponsor/sponsor.html")
                                @@include("../blocks/modules/sponsor/sponsor.html")
                            </div>
                        </div>
                    </div>
                    <div class="columns__column columns__column--50">
                        <div class="accent accent--block">
                            <div class="text">
                                <h2>
                                    Дорогие друзья
                                </h2>
                                <p>
                                    К участию в Попечительском Совете «Верю в чудо» на 2017-2018 гг. мы приглашаем людей, организации и компании, разделяющих ценности нашей команды и готовых регулярно личными усилиями поддерживать центр в его развитии.
                                </p>
                                <h6>
                                    Каков порядок избрания членов Совета Попечителей?
                                </h6>
                                <p>

                                    Совет Попечителей формируется исходя из заявлений (устных/письменных) потенциальных участников. Заявления на вступление принимаются круглый год. Решение о избрании/не избрании принимает Совет «Верю в чудо» и приглашенные члены организации.
                                </p>
                                <p>
                                    Срок рассмотрения заявления и составления индивидуального соглашения и плана работы — 1 месяц.
                                </p>
                                <h6>
                                    Какие преимущества имеет попечитель перед благотворителями и партнёрами «Верю в чудо»?
                                </h6>
                                <p>
                                    Попечитель вправе непосредственно участвовать в стратегическом развитии организации, вносить заявления и предложения относительно порядка работы команды «Верю в чудо», инициировать проекты в рамках текущих благотворительных программ, вносить предложения по модернизации благотворительных программ, позиционировать сотрудничество с «Верю в чудо» (в личных аккаунтах социальных сетей, в рамках PR и рекламы своего проекта).
                                </p>
                                <h6>
                                    Что получает попечитель от членства в Совете?
                                </h6>
                                <ul>
                                    <li>
                                        <span>
                                            Статус
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            Новые знания
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            Опыт в благотворительной и социальной деятельности
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            Возможность реализации социального потенциала 
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            Сотрудничество с самой известной и уважаемой благотворительной командой региона
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            Повышение уважения окружающих
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            Повышение лояльности клиентов/партнёров (в случае, если попечитель – бизнесмен, компания)
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            Возможность сделать мир вокруг лучше, а детей в нём счастливее
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            Возможность жить со смыслом
                                        </span>
                                    </li>
                                </ul>
                                <h6>
                                    Сроки и порядок участия попечителя в Совете.
                                </h6>
                                <p>
                                    Срок: 1 год с момента избрания с возможностью пролонгации по личному заявлению на 1 год.
                                </p>
                                <p>
                                    Благотворительный центр «Верю в чудо» не ограничивает попечителей в возможностях пролонгирования сроков! Вы можете быть нашим попечителем 5-10-20 лет подряд, главное, чтобы наш союз приносил пользу подопечным и делал нас с вами лучше.
                                </p>
                                <p>
                                    При каждом избрании/продлении статуса мы составляем индивидуальный план работы и ставим цели на 1 год. План работы может быть скорректирован по обоюдному согласию (по инициативе любой из сторон – центра или попечителя).
                                </p>
                                <p>
                                    Соглашение о сотрудничестве «Верю в чудо» и попечителя составляется по типовой форме с приложением, в котором описан порядок персональной работы.
                                </p>
                                <p>
                                    Ознакомится с пакетами попечительства можно по ссылкам:
                                </p>
                                <a href="">Творческий попечитель</a><br>
                                <a href="">Финансовый попечитель</a>
                                <h6>
                                    Все вопросы по вступлению в Совет Попечителей можно задать:
                                </h6>
                                <p>
                                    по тел.: <a href="">8 (4012) 59-34-46</a> <br>
                                    по e-mail: <a href="">deti39@mail.ru</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
