<!DOCTYPE html>
<html lang="ru">
<head>
    <title>14. F.A.Q.</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="decor">
            <div class="container">
                <!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
                <!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
            </div> 
        </section>
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <a href="/10-page.html" class="breadcrumbs__link">
                        ВерюВЧудовцы
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        F.A.Q.
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--top">
            <div class="container">
                <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент">
                <div class="single-page">
                    <div class="title">
                        <h2 class="title__text">
                            Юридическая помощь
                        </h2>
                    </div>
                    <div class="single-page__content">
                        <div class="text">
                            <p>
                                <b>
                                    Дорогие друзья! 
                                </b>
                            </p>
                            <p>
                                <b>
                                    Ниже мы приводим для вас перечень самых актуальных вопросов, на которые команда Благотворительного центра «Верю в чудо» отвечает чаще всего. Думаем, и у вас не раз возникали эти вопросы, поэтому надеемся, этот список поможет развеять все ваши сомнения или хотя бы какую-то их часть!
                                </b>
                            </p>
                        </div>
                        <div class="articles">
                            <div class="articles__content articles__content--static">
                                @@include("../blocks/modules/drop-card/drop-card.html")
                                @@include("../blocks/modules/drop-card/drop-card.html")
                                @@include("../blocks/modules/drop-card/drop-card.html")
                                @@include("../blocks/modules/drop-card/drop-card.html")
                                @@include("../blocks/modules/drop-card/drop-card.html")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
