<!DOCTYPE html>
<html lang="ru">
<head>
    <title>18. Типовая внутренняя</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body body--style-1" style="background-image: url('img/page-decor--left.svg'), url('img/page-decor--right.svg'), url('img/page-decor--left2.svg'), url('img/page-decor--right2.svg');">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <a href="/17-page.html" class="breadcrumbs__link">
                        Программы и проекты
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Одна программа или проект
                    </span>
                </div>
            </div>
        </section>
        @@include("../blocks/modules/footer/footer.html")
    </main>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
