<!DOCTYPE html>
<html lang="ru">
<head>
    <title>2.Помочь детям</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body body--style-1" style="background-image: url('img/page-decor--left.svg'), url('img/page-decor--right.svg'), url('img/page-decor--left2.svg'), url('img/page-decor--right2.svg');">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Помочь детям
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--top section--bottom">
            <div class="container">
                <div class="title title--center">
                    <h2 class="title__text">
                        Помочь детям
                    </h2>
                </div>
                <div class="tabs">
                    <a href="" class="tabs__tab tabs__tab--active">
                        <div class="tabs__thumb">
                            <svg class="icon-svg">
                                <use xlink:href="./img/sprites/sprite.svg#icon-tab-1"></use>
                            </svg>
                        </div>
                        <span class="tabs__tab-text">
                            Нужна помощь
                        </span>
                    </a>
                    <a href="" class="tabs__tab">
                        <div class="tabs__thumb">
                            <svg class="icon-svg">
                                <use xlink:href="./img/sprites/sprite.svg#icon-tab-2"></use>
                            </svg>
                        </div>
                        <span class="tabs__tab-text">
                            Мы помогли
                        </span>
                    </a>
                    <a href="" class="tabs__tab">
                        <div class="tabs__thumb">
                            <svg class="icon-svg">
                                <use xlink:href="./img/sprites/sprite.svg#icon-tab-3"></use>
                            </svg>
                        </div>
                        <span class="tabs__tab-text">
                            Мы помним
                        </span>
                    </a>
                </div>
                <div class="articles">
                    <div class="articles__content">
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-children/article-children.html")
                        </div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                    </div>
                    <div class="articles__toolbar">
                        <a href="" class="btn btn--orange btn--normal">
                            Стать волонтером
                        </a>
                    </div>
                </div>                    
            </div>
        </section>
        <section class="section section--accent">
            <div class="container">
                <div class="title title--light title--center">
                    <h2 class="title__text">
                        Помочь просто
                    </h2>
                </div>
                <div class="text text--sms">
                    <p>
                        Смс на номер <strong>7715</strong> со словом <strong>ВЕРИМ</strong> пробел <strong>ВАША СУММА</strong>
                    </p>
                    <p>
                        Смс на номер <strong>3434</strong> со словом <strong>ФРУППОЛО</strong> пробел <strong>ВАША СУММА</strong>
                    </p>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
