<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>2.Помочь детям</title>
        @@include("../blocks/modules/head/head.html")
    </head>
    <body class="body">
        @@include("../blocks/modules/header/header.html")
        <section class="decor">
            <div class="container">
                <!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
                <!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
            </div> 
        </section>
        @@include("../blocks/modules/front-intro/front-intro.html")
        @@include("../blocks/modules/front-help/front-help.html")
        @@include("../blocks/modules/front-programs/front-programs.html")
        @@include("../blocks/modules/front-news/front-news.html")
        @@include("../blocks/modules/sms/sms.html")
        @@include("../blocks/modules/front-faq/front-faq.html")
        @@include("../blocks/modules/front-reviews/front-reviews.html")
        @@include("../blocks/modules/footer/footer.html")
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
