<!DOCTYPE html>
<html lang="ru">
<head>
    <title>21. Помочь центру</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="decor">
            <div class="container">
                <!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
                <!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
            </div> 
        </section>
        <section class="breadcrumbs">
            <div class="container breadcrumbs__container">
                <div class="breadcrumbs__content">
                    <a href="/" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Помочь центру
                    </span>
                </div>
            </div>
        </section>
        <section class="single-page">
            <div class="container">
                <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент">
                <div class="title single-page__title">
                    <h2 class="title__text">
                        Помочь центру
                    </h2>
                </div>
                <div class="single-page__columns">
                    <div class="single-page__column">
                        <div class="sponsors">
                            <div class="accent accent--block text">
                                Этот блок будет добавлен лейкой
                            </div>
                            <div class="accent accent--block text">
                                <h2>
                                    С помощью мобильного телефона
                                </h2>
                                <h5>
                                    SMS на номер 3434
                                </h5>
                                <p>
                                    с текстом сообщения: слово Фрупполо и через пробел сумма пожертвования (подробнее), например:
                                    <b>Фрупполо 250</b>
                                </p>
                                <h5>
                                    SMS на номер 7715
                                </h5>
                                <p>
                                    с текстом сообщения: слово ВЕРИМ и через пробел сумма пожертвования, например: <b>ВЕРИМ 250</b>
                                </p>
                                <h5>
                                    Сбербанк онлайн
                                </h5>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/tAGnKpE4NCI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="single-page__column">
                        <div class="accent accent--block text">
                            <h2>
                                Перевести пожертвования через банковский перевод
                            </h2>
                            <h3>В банке "Открытие"</h3>
                            <h5>
                                Переводы в рублях
                            </h5>
                            <p>
                                Получатель: Благотворительный центр «Верю в чудо» <br>
                                ОГРН 1093900001777 <br>
                                ИНН/КПП: 3904095795/390601001 <br>
                                р/с 40703810495200000134 <br>
                                Филиал «Северо-Западный» ПАО Банк «ФК Открытие», г. Санкт-Петербург <br>
                                БИК 044030795 <br>
                                к/с 30101810540300000795
                            </p>
                            <h5>
                                Переводы в евро
                            </h5>
                            <p>
                                Получатель: The children’s charity center I believe in a miracle <br>
                                Адрес получателя: Russia, Kaliningrad, Teatralnaya street, 35 <br>
                                Платить через: Commerz bank AG, Frankfurt am Main, Germany <br>
                                SWIFT: COBADEFF <br>
                                Корреспондентский счет: 400887150100 EUR <br>
                                Банк получателя: Bank Otkritie Financial Corporation <br>
                                (Public Joint-Stock Company), MOSCOW, RUSSIA <br>
                                SWIFT: JSNMRUMM <br>
                                Транзитный (расчетный) счет клиента (получателя): 40703978195200200134 <br>
                                Назначение платежа: Сharity donation <br> (благотворительное пожертвование)
                            </p>
                            <h3>
                                В «Сбербанке»
                            </h3>
                            <p>
                                Получатель: Благотворительный центр «Верю в чудо» <br>
                                ИНН/КПП 3904095795/390601001<br>
                                р/с 40703810620010000043<br>
                                КАЛИНИНГРАДСКОЕ ОТДЕЛЕНИЕ N8626 ПАО СБЕРБАНК Г. КАЛИНИНГРАД<br>
                                БИК 042748634<br>
                                к/с 30101810100000000634
                            </p>
                            <h5>
                                Инструкция по оплате через Сбербанк
                            </h5>
                            <p>
                                Внесение денег через банкомат или кассу “Сбербанк” на личную карту. 
                            </p>
                            <p>
                                Перечисление на счет «Верю в чудо» любым удобным способом:
                            </p>
                            <h5>
                                Сбербанк онлайн с телефона
                            </h5>
                            <p>
                                Платежи – Остальное – ИНН 3904095795 (если “нет в регионе”, выбрать “все регионы” — снова поиск по ИНН – “Верю в чудо”). Дополнительная информация — Имя и Фамилия ребенка.
                            </p>
                            <h5>
                                Через банкоматы “Сбербанк”
                            </h5>
                            <p>
                                Платежи (или поиск по ИНН) – Поиск услуг и организаций — Поиск по ИНН 3904095795 – Благотворительный центр «Верю в чудо». В переводе указывается Имя Фамилию ребенка.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="single-page__content text">
                    <p>
                        Отчет о пожертвованиях будет отражен в разделе сайта <b><a href="">«Официальная отчетность»</a></b> (оператор снимает 3,9% за каждую транзакцию).
                    </p>
                    <p>
                        Уважаемые Друзья и Благотворители, будьте осторожны: в городе появились люди, которые ведут сбор средств для Детской областной больницы якобы от Благотворительного центра “Верю в чудо” либо просто от инициативных групп волонтеров. Наши волонтеры не ведут сбор средств на улице! 
                    </p>
                </div>
                <div class="single-page__cards">
                    <div class="accent text single-page__card">
                        <h2>
                            Перевести пожертвования Вы можете в любом терминале
                        </h2>
                        <h4 class="single-page__icon-title">
                            <svg class="icon-svg">
                                <use xlink:href="./img/sprites/sprite.svg#title-icon-1"></use>
                            </svg>
                            <span>
                                КБ «Энерготрансбанк»
                            </span>
                        </h4>
                        <a href="">Банкоматы здесь</a> <br>
                        Раздел «Прочие платежи» -> «Верю в чудо».
                    </div>
                    <div class="single-page__card accent text">
                        <h2>
                            Медицинская помощь
                        </h2>
                        <h4 class="single-page__icon-title">
                            <svg class="icon-svg">
                                <use xlink:href="./img/sprites/sprite.svg#title-icon-2"></use>
                            </svg>
                            <span>
                                Сдать кровь
                            </span>
                        </h4>
                        <a href="">
                            Подробнее здесь
                        </a>
                    </div>
                    <div class="single-page__card accent text">
                        <h2>
                            Фирменные сувениры
                        </h2>
                        <h4 class="single-page__icon-title">
                            <svg class="icon-svg">
                                <use xlink:href="./img/sprites/sprite.svg#title-icon-3"></use>
                            </svg>
                            <span>
                                “Верю в чудо”
                            </span>
                        </h4>
                        <a href="">
                            Купить здесь
                        </a>
                    </div>
                    <div class="single-page__card accent text">
                        <h2>
                            Помощь вещами
                        </h2>
                        <h4 class="single-page__icon-title">
                            <svg class="icon-svg">
                                <use xlink:href="./img/sprites/sprite.svg#title-icon-4"></use>
                            </svg>
                            <span>
                                “Данке-шоп”
                            </span>
                        </h4>
                        <a href="">
                            Подробнее здесь
                        </a>
                    </div>
                </div>
                <div class="single-page__content text">
                    <p>
                        Уважаемые Друзья и Благотворители, будьте осторожны: в городе появились люди, которые ведут сбор средств для Детской областной больницы якобы от Благотворительного центра “Верю в чудо” либо просто от инициативных групп волонтеров. Наши волонтеры не ведут сбор средств на улице! 
                    </p>
                    <p>
                        Если же к Вам на улице подошли люди с просьбой помочь больнице, требуйте у них подтверждение: договор с Детской областной больницей, звоните по тел. 8-909-779-82-00 и сообщайте о попытке мошенничества.  К сожалению, есть нечестные люди, которые пользуются именем Благотворительного центра “Верю в чудо” и Детской областной.
                    </p>
                </div>
            </div>
        </section>
        @@include("../blocks/modules/form/form.html")
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
