<!DOCTYPE html>
<html lang="ru">
<head>
    <title>22. Отчетность</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="decor">
            <div class="container">
                <!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
                <!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
            </div> 
        </section>
        <section class="breadcrumbs">
            <div class="container breadcrumbs__container">
                <div class="breadcrumbs__content">
                    <a href="/" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Отчетность
                    </span>
                </div>
            </div>
        </section>
        <section class="result-page">
            <div class="container">
                <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент">
                <div class="title title--center result-page__title">
                    <h2 class="title__text">
                        Финансы и содержание за 2018-2019 год:
                    </h2>
                </div>
                <p class="result-page__title-discript">
                    Текущий финансовый отчет БЦ «Верю в чудо» за 2019 год
                </p>
                <p class="result-page__accent-block">
                    Финансовая отчетность обновляется раз в 3 недели.
                </p>
                <div class="result-page__content text">
                    <p>
                        <a href="">
                            Финансовый отчет по поступлениям и расходам в рамках марафона «Свет Рождественской звезды» 2018-2019
                        </a>
                    </p>
                    <p>
                        <a href="">
                            Годовой отчет в Минюст БЦ «Верю в чудо» за 2018 год
                        </a>
                    </p>
                    <p>
                        <a href="">
                            Бухгалтерский баланс БЦ «Верю в чудо» за 2018 год
                        </a>
                    </p>
                    <p>
                        <a href="">
                            Финансовый отчет БЦ «Верю в чудо» за 2018 год
                            Пожертвования могут отображаться с задержкой до 3-х рабочих дней в связи с банковскими переводами
                        </a>
                    </p>
                    <p>
                        <a href="">
                            Отчет о деятельности БЦ «Верю в чудо» за 2018 год
                        </a>
                    </p>
                    <p>
                        Пожертвования могут отображаться с задержкой до 3-х рабочих дней в связи с банковскими переводами
                    </p>
                </div>
                <div class="title title--center title--blue result-page__title">
                    <h2 class="title__text">
                        Отчетность
                    </h2>
                </div>
                <p class="result-page__title-discript">
                    Итоги по месяцам:
                </p>
                <div class="result-page__results">
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result">
                        <a href="">
                            Ссылка
                        </a>
                    </div>
                    <div class="result-page__result result-page__result--clear"></div>
                    <div class="result-page__result result-page__result--clear"></div>
                    <div class="result-page__result result-page__result--clear"></div>
                </div>
            </div>
        </section>
        @@include("../blocks/modules/sms/sms.html")
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
