<!DOCTYPE html>
<html lang="ru">
<head>
    <title>22. Отчетность</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="decor">
            <div class="container">
                <!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
                <!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
            </div> 
        </section>
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Отчетность
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--top">
            <div class="container">
                <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент">
                <div class="title title--center">
                    <h2 class="title__text">
                        Финансы и содержание за 2018-2019 год:
                    </h2>
                </div>
                <div class="text text--block text--center">
                    <a href=""><b>Текущий финансовый отчет БЦ «Верю в чудо» за 2019 год</b></a>
                </div>
                <div class="accent-block">
                    <p>
                        Финансовая отчетность обновляется раз в 3 недели.
                    </p>
                </div>

                <div class="text text--block text--center">
                    <p>
                        <a href="">
                            Финансовый отчет по поступлениям и расходам в рамках марафона «Свет Рождественской звезды» 2018-2019
                        </a>
                    </p>
                    <p>
                        <a href="">
                            Годовой отчет в Минюст БЦ «Верю в чудо» за 2018 год
                        </a>
                    </p>
                    <p>
                        <a href="">
                            Бухгалтерский баланс БЦ «Верю в чудо» за 2018 год
                        </a>
                    </p>
                    <p>
                        <a href="">
                            Финансовый отчет БЦ «Верю в чудо» за 2018 год
                            Пожертвования могут отображаться с задержкой до 3-х рабочих дней в связи с банковскими переводами
                        </a>
                    </p>
                    <p>
                        <a href="">
                            Отчет о деятельности БЦ «Верю в чудо» за 2018 год
                        </a>
                    </p>
                    <p>
                        Пожертвования могут отображаться с задержкой до 3-х рабочих дней в связи с банковскими переводами
                    </p>
                </div>
                <div class="title title--center title--blue">
                    <h2 class="title__text">
                        Отчетность
                    </h2>
                </div>
                <div class="text text--block text--center">
                    <p>
                        <b>Итоги по месяцам:</b>
                    </p>
                </div>
                <div class="articles">
                    <div class="articles__content">
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/report/report.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/report/report.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/report/report.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/report/report.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/report/report.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/report/report.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/report/report.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/report/report.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/report/report.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/report/report.html")
                        </div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                        <div class="articles__item articles__item--25 articles__item--clear"></div>
                    </div>
                </div>                        
            </div>
        </section>
        <section class="section section--accent">
            <div class="container">
                <div class="title title--light title--center">
                    <h2 class="title__text">
                        Помочь просто
                    </h2>
                </div>
                <div class="text text--sms">
                    <p>
                        Смс на номер <strong>7715</strong> со словом <strong>ВЕРИМ</strong> пробел <strong>ВАША СУММА</strong>
                    </p>
                    <p>
                        Смс на номер <strong>3434</strong> со словом <strong>ФРУППОЛО</strong> пробел <strong>ВАША СУММА</strong>
                    </p>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
