<!DOCTYPE html>
<html lang="ru">
<head>
    <title>24. Контакты</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <section class="decor">
        <div class="container">
            <!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
            <!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
        </div> 
    </section>
    <section class="breadcrumbs">
        <div class="container breadcrumbs__container">
            <div class="breadcrumbs__content">
                <a href="/" class="breadcrumbs__link">
                    Главная
                </a>
                <svg class="icon-svg breadcrumbs__arrow">
                    <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                </svg>
                <span class="breadcrumbs__link breadcrumbs__link--static">
                    Контакты
                </span>
            </div>
        </div>
    </section>
    <section class="contacts-page">
        <div class="container">
            <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент">
            <div class="title contacts-page__title">
                <h2 class="title__text">
                    Контакты
                </h2>
            </div>

            <div class="contacts-page__columns">
                <div class="contacts-page__column">
                    <div class="contacts-page__block">
                        <h3 class="contacts-page__name">
                            Наши телефоны
                        </h3>
                        <div class="contact">
                            <h5 class="contact__title">
                                Единый номер:
                            </h5>
                            <p class="contact__text">
                                <a href="tel:+74012376623">
                                    +7 (4012) 37 - 66 - 23
                                </a>
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                Волонтеры:
                            </h5>
                            <p class="contact__text">
                                <a href="tel:+74012375514">+7 (4012) 37 - 55 - 14</a>
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                По вопросам паллиативной помощи:
                            </h5>
                            <p class="contact__text">
                                <a href="tel:+74012336063">+7 (4012) 33 - 60 - 63</a>
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                Офис в ТЦ "Кловер":
                            </h5>
                            <p class="contact__text">
                                <a href="tel:+74012593446">+7 (4012) 59 - 34 - 46</a>
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                Координатор мероприятий:
                            </h5>
                            <p class="contact__text">
                                <a href="tel:+7963382499">+7 (963) 38 - 24 - 99</a>
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                Клоунотерапия:
                            </h5>
                            <p class="contact__text">
                                <a href="tel:+74012375174">+7 (4012) 37 - 51 - 74</a>
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                Координатор адресной и паллиативной помощи:
                            </h5>
                            <p class="contact__text">
                                <a href="tel:+74012374766">+7 (4012) 37 - 47 - 66</a>
                            </p>
                        </div>
                    </div>
                    <div class="contacts-page__block">
                        <h3 class="contacts-page__name">
                            Наши адреса
                        </h3>
                        <div class="contact">
                            <h5 class="contact__title">
                                Волонтёрская
                            </h5>
                            <p class="contact__text">
                                г. Калининград, ул. Дм. Донского, 23, <br>
                                Волонтерская "Верю в чудо"
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                Офис
                            </h5>
                            <p class="contact__text">
                                г. Калининград, пл. Победы, 10 <br>
                                (ТЦ Clover, 3 этаж, офис 320)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="contacts-page__column">
                    <div class="contacts-page__block">
                        <h3 class="contacts-page__name">
                            Полные ревизиты
                        </h3>
                        <div class="contact">
                            <h5 class="contact__title">
                                Благотворительный центр «Верю в чудо»
                            </h5>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                ОГРН:
                            </h5>
                            <p class="contact__text">
                                1093900001777
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                ИНН/КПП:
                            </h5>
                            <p class="contact__text">
                                3904095795/390601001
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                Юр. адрес:
                            </h5>
                            <p class="contact__text">
                                236006, г. Калининград, ул. Театральная 35, оф. 302
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                Почтовый адрес:
                            </h5>
                            <p class="contact__text">
                                236021 г. Калининград, а/я №434
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                Телефон:
                            </h5>
                            <p class="contact__text">
                                <a href="tel:+74012376623">
                                    +7 (4012) 37-66-23
                                </a>
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                E-mail:
                            </h5>
                            <p class="contact__text">
                                <a href="mailto:deti39@mail.ru"></a>
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                Сайт:
                            </h5>
                            <p class="contact__text">
                                www.deti39.com
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                Получатель:
                            </h5>
                            <p class="contact__text">
                                Благотворительный центр «Верю в чудо»
                            </p>
                        </div>
                        <div class="contact">
                            <p class="contact__text">
                                <b>р/с</b> 40703810707160000134 <br>
                                Ф-л СПб №2 ПАО Банк «ФК  Открытие» <br>
                                <b>БИК</b>  044030800 <br>
                                <b>к/с</b> 30101810040300000800
                            </p>
                        </div>
                        <div class="contact">
                            <h5 class="contact__title">
                                Директор 
                            </h5>
                            <p class="contact__text">
                                Лагутинская София Владимировна, <br>
                                действует на основании Устава
                            </p>
                        </div>
                        <a href="" class="contacts-page__btn btn btn--dasheed">
                            Скачать реквизиты (pdf)
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
