<!DOCTYPE html>
<html lang="ru">
<head>
    <title>4.Помочь ребенку</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="decor">
            <div class="container">
                <!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
                <!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
            </div> 
        </section>
        <section class="breadcrumbs">
            <div class="container breadcrumbs__container">
                <div class="breadcrumbs__content">
                    <a href="" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <a href="/2-page.html" class="breadcrumbs__link">
                        Помочь детям
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <a href="/3-page.html" class="breadcrumbs__link">
                        Света Фирсова
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Помочь
                    </span>
                </div>
            </div>
        </section>
        <section class="single-page">
            <div class="container">
                <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент">
                <div class="title single-page__title">
                    <h2 class="title__text">
                        Света Фирстова, 12 лет
                    </h2>
                </div>
                <div class="single-page__columns">
                    <div class="single-page__column">
                        <div class="accent accent--block text">
                            Этот блок будет добавлен лейкой
                        </div>
                        <div class="accent accent--block text">
                            Этот блок будет добавлен лейкой
                        </div>
                        <div class="single-page__content text">
                            <p>
                                Уважаемые Друзья и Благотворители, будьте осторожны: в городе появились люди, которые ведут сбор средств для Детской областной больницы якобы от Благотворительного центра “Верю в чудо” либо просто от инициативных групп волонтеров. Наши волонтеры не ведут сбор средств на улице! 
                            </p>
                            <p>
                                Если же к Вам на улице подошли люди с просьбой помочь больнице, требуйте у них подтверждение: договор с Детской областной больницей, звоните по тел. 8-909-779-82-00 и сообщайте о попытке мошенничества.  К сожалению, есть нечестные люди, которые пользуются именем Благотворительного центра “Верю в чудо” и Детской областной.
                            </p>
                        </div>
                    </div>
                    <div class="single-page__column text">
                        <h2>
                            Мы искренне благодарим
                        </h2>
                        <p>
                            Тут тоже будет кусок от лейки
                        </p>
                    </div>
                </div>
            </div>
        </section>
        @@include("../blocks/modules/form/form.html")
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
