<!DOCTYPE html>
<html lang="ru">
<head>
	<title>7. Паллиативная помощь</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body">
	@@include("../blocks/modules/header/header.html")
	<main class="main">
		<section class="decor">
			<div class="container">
				<!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
				<!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
			</div> 
		</section>
		<section class="section section--breadcrumbs">
			<div class="container">
				<div class="breadcrumbs">
					<a href="" class="breadcrumbs__link">
						Главная
					</a>
					<svg class="icon-svg breadcrumbs__arrow">
						<use xlink:href="./img/sprites/sprite.svg#arrow"></use>
					</svg>
					<a href="/5-page.html" class="breadcrumbs__link">
						Получить помощь
					</a>
					<svg class="icon-svg breadcrumbs__arrow">
						<use xlink:href="./img/sprites/sprite.svg#arrow"></use>
					</svg>
					<span class="breadcrumbs__link breadcrumbs__link--static">
						Паллиативная помощь
					</span>
				</div>
			</div>
		</section>
		<section class="section section--top">
			<div class="container">
				<img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент">
				<div class="single-page">
					<div class="title">
						<h2 class="title__text">
							Паллиативная помощь
						</h2>
					</div>
					<div class="text">
						<div class="accent">
							<h6>
								Десять основных компетенций в паллиативной помощи (EAPC, 2013):
							</h6>
							<ol>
								<li>
									<span>
										Реализовывать основные компоненты/принципы паллиативной помощи везде, где находится пациент и его семья.
									</span>
								</li>
								<li>
									<span>
										Обеспечивать максимальный физический комфорт пациенту на всех этапах болезни.
									</span>
								</li>
								<li>
									<span>
										Удовлетворять психологические потребности.
									</span>
								</li>
								<li>
									<span>
										Удовлетворять социальные потребности.
									</span>
								</li>
								<li>
									<span>
										Удовлетворять духовные и экзистенциальные потребности.
									</span>
								</li>
								<li>
									<span>
										Откликаться на потребности осуществляющих уход за пациентом членов семьи в рамках кратко-, среднесрочных и долговременных целей.
									</span>
								</li>
								<li>
									<span>
										Осознавать сложность ситуации принятия решений по клиническим и этическим вопросам паллиативной помощи.
									</span>
								</li>
								<li>
									<span>
										Координировать процесс оказания комплексной помощи силами междисциплинарной бригады везде, где предоставляется паллиативная помощь.
									</span>
								</li>
								<li>
									<span>
										Развивать навыки общения, необходимые для оказания паллиативной помощи.
									</span>
								</li>
								<li>
									<span>
										Проводить самоанализ и постоянно повышать профессиональную квалификацию.
									</span>
								</li>
							</ol>
						</div>
						<h4>
							Какую помощь оказывает «Верю в чудо» адресно?
						</h4>
						<p>
							Федеральный закон Российской Федерации от 21 ноября 2011 г.N323­ФЗ «Об основах охраны здоровья граждан в Российской Федерации»:

						</p>
						<p>
							«Паллиативная медицинская помощь представляет собой комплекс медицинских вмешательств, направленных на избавление от боли и облегчение других тяжелых проявлений заболевания, в целях улучшения качества жизни неизлечимо больных граждан».
						</p>
						<h4>
							Современное определение Всемирной Организации Здоровья:
						</h4>
						<p>
							Паллиативная помощь ­ направление медицинской и социальной деятельности, целью которого является улучшение качества жизни инкурабельных больных и их семей посредством предупреждения и облегчения их страданий, благодаря раннему выявлению, тщательной оценке и купированию боли и других симптомов ­ физических, психологических и духовных.
						</p>
						<h4>
							WHO Definition of Palliative Care. WHO, 2007. На портале ВОЗ
						</h4>
						<p>
							Паллиативная помощь детям — это не только медицинская помощь и уход за детьми в терминальной стадии онкологических заболеваний. Речь идет о детях/подростках с различными нозологическими формами заболеваний/состояний, угрожающих жизни (рак, травмы головного мозга), а также заболеваниями, как правило, приводящими к преждевременной смерти ребенка, его тяжелой инвалидизации, при которых необходимо оказание квалифицированной медицинской, психосоциальной помощи ребенку, а также психологической и духовной поддержки членам его семьи.
						</p>

						<p>
							Паллиативную помощь отличает мультидисциплинарный подход: не только избавление от боли и тяжелых симптомов заболевания, но и психологическая помощь, социальная поддержка ребенка и его близких.
						</p>
						<p>
							Существует заблуждение, что в паллиативной помощи нуждаются в основном пациенты в терминальной стадии рака, которым осталось жить считанные месяцы или недели. Если речь идет о детях, это вдвойне заблуждение: во-первых, паллиативная помощь оказывается на разных стадиях неизлечимого заболевания и при должном качестве такой помощи дети могут жить долго. Во-вторых, онкологические заболевания — далеко не самые распространенные состояния у детей, при которых необходима паллиативная помощь, и составляют лишь 10-20% случаев.
						</p>
						<p>
							В мире существуют различные модели оказания паллиативной помощи детям. Более дорогие стационарные модели (в т. ч. детские хосписы) чаще используются в развитых странах. В странах с ограниченными ресурсами распространены более дешевые, но достаточно эффективные модели, например, паллиативная помощь на дому. Ее выбирают более 90% семей, имеющих неизлечимого, длительно болеющего ребенка. Для детей домашние условия являются максимально комфортными и предпочтительными.
						</p>
						<p>
							С 2015 года Благотворительный центр «Верю в чудо» оказывает паллиативную помощь детям в рамках работы выездной Благотворительной хосписно-паллиативной службы «Дом Фрупполо».
						</p>
						<p>
							Запрос на получение паллиативной помощи осуществляется в общем порядке подачи обращений за помощью в «Верю в чудо».
						</p>
						<p>
							В 2017 году Благотворительный центр «Верю в чудо» учредил Благотворительное медицинское частное учреждение «Хоспис для детей и молодых взрослых «Дом Фрупполо»», основная задача которого — строительство детского хосписно-реабилитационного центра и организация высококачественной стационарной хосписной помощи.
						</p>
						<p>
							Медицинская лицензия Благотворительной хоспсино-паллиативной службы «Дом Фрупполо» по <a href="">ссылке</a>.
						</p>
						<h1>
							Семьям
						</h1>
						<p>
							<b>
								Основным показанием для принятия под опеку Благотворительной хосписно-паллиативной службы «Дом Фрупполо» являются заболевания, ограничивающие срок жизни ребенка, в том числе:
							</b>
						</p>
						<ul>
							<li>
								<span>возможности радикальной терапии, с прогрессирующим течением, в том числе с выраженным болевым синдромом и вторичными осложнениями;</span>
							</li>
							<li>
								<span>органическое поражение центральной нервной системы (далее по тексту – ЦНС) при врожденных заболеваниях и пороках развития ЦНС, а также вследствие перенесенных нейроинфекций, внутриутробных инфекций, гипоксически-травматических поражений ЦНС, с нарушением или утратой двигательной активности пациента, нуждающегося в постоянном уходе посторонних лиц, вторичными осложнениями (эпилепсия, параличи, парезы и др.);</span>
							</li>
							<li>
								<span>наследственные заболевания с прогрессирующим течением, поражением или нарушением нескольких систем и жизненно важных функций организма, которые привели к инвалидизации и утрате самообслуживания (муковисцидоз, мукополисахаридоз и т.д.);</span>
							</li>
							<li>
								<span>нервно-мышечные заболевания с прогрессирующим течением, приведшие к утрате двигательной активности, дефициту дыхательной функции, необходимости в проведении ИВЛ или НИВЛ в домашних условиях, к утрате самообслуживания, с вторичными осложнениями (спинальные амиотрофии, миастенические синдромы);</span>
							</li>
							<li>
								<span>последствия тяжелых сочетанных травм (черепно-мозговых, с повреждением опорно-двигательного аппарата), с неврологическими нарушениями, которые привели к инвалидизации с ограничением или утратой двигательной активности, к ограничению или утрате самообслуживания;</span>
							</li>
							<li>
								<span>наличие нескольких стом;</span>
							</li>
							<li>
								<span>состояние комы /сопора.</span>
							</li>
						</ul>
						<p>
							<b>Просим принять во внимание, что паллиативная служба не ведет детей с ДЦП, если у пациента нет дополнительных осложнений. Ресурсы нашей выездной службы не безграничны.</b>
						</p>
						<p>
							<b>
								По решению внутренней медицинской комиссии, рассмотрев новые обращения, принимается решение об индивидуальной программе помощи для паллиативного пациента.
							</b>
						</p>
					</div>
				</div>
			</div>
		</section>
		@@include("../blocks/modules/footer/footer.html")
	</main>
	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
