<!DOCTYPE html>
<html lang="ru">
<head>
    <title>8. Ты нам нужен</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="decor">
            <div class="container">
                <!-- <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент"> -->
                <!-- <img class="decor decor--right" src="img/page-decor--right.svg" alt="Орнамент"> -->
            </div> 
        </section>
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <a href="/5-page.html" class="breadcrumbs__link">
                        Получить помощь
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Ты нам нужен
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--top">
            <div class="container">
                <img class="decor decor--left" src="img/page-decor--left.svg" alt="Орнамент">
                <div class="single-page">
                    <div class="title">
                        <h2 class="title__text">
                            Ты нам нужен
                        </h2>
                    </div>
                    <div class="single-page__preview">
                        <!-- Сюда выводим превью записи -->
                        <img class="single-page__preview-thumb" src="http://placehold.it/1200x700" alt="Превью страницы">
                    </div>
                    <div class="single-page__columns">
                        <div class="single-page__column">
                            <div class="single-page__content">
                                <div class="text">
                                    <p>
                                        Городской благотворительный марафон «Ты нам нужен!» впервые прошел в 2010 году при поддержке администрации Калининграда и стал доброй многолетней традицией. Его целью является оказание адресной помощи детям с ограниченными возможностями здоровья путём объединения усилий муниципалитета, бизнеса и общественности. За восемь лет, не привлекая средств городского бюджета, конкретную помощь получили 443 ребёнка с ограниченными возможностями здоровья на общую сумму 27,7 млн рублей.
                                    </p>
                                    <p>
                                        Благотворительный центр «Верю в чудо» с 2012 года — финансовый и социальный оператор марафона. Центр взял на себя ответственность по комплексному ведению родителей — оказанию информационной, юридической, социокультурной и психологической поддержки во время марафона, а также ведении контактов и платежей с поставщиками лекарств, услуг, средств реабилитации, на которые родители получили сертификаты.
                                    </p>
                                    <p>
                                        <b>
                                            София Лагутинская, директор-волонтёр «Верю в чудо», постоянный член координационного совета марафона: 
                                        </b>
                                    </p>
                                    <blockquote>
                                        «Благотворительный марафон «Ты нам нужен» — уникальный российский опыт, где и органы власти, и волонтерские объединения, и тысячи неравнодушных жителей и гостей консолидируют свои усилия для оперативной и безотлагательной медицинской помощи детям с ограниченными возможностями здоровья. Это инициатива всех тех неравнодушных, кто небезразлично относится к острым социальным проблемам и сознательно готов вносить свой вклад в поддержку нуждающихся!
                                    </blockquote>
                                    <p>
                                        <b>
                                            Марафон «Ты нам нужен!»-2018 стартовал в конце 2018 года.
                                        </b>
                                    </p>
                                    <p>
                                        В этом году Благотворительный центр «Верю в чудо» не является финансовым и социальным оператором марафона «Ты нам нужен». Мы состоим в оргкомитете, но не принимаем пожертвования и не коммуницируем с семьями, как раньше, т.е. не принимаем документы на оказание помощи в рамках марафона.
                                    </p>
                                    <p>
                                        Главным организатором и исполнителем является городской центр «Доброволец» отдела спорта и молодежной политики администрации Калининграда.
                                    </p>
                                    <p>
                                        Координатор марафона «Ты нам нужен» – отдел социальной политики города Калининграда.
                                    </p>
                                    <p>
                                        <b>Информацию о марафоне, списке необходимых документов вы можете получить по контактам организаторов:</b>
                                    </p>
                                    <ul>
                                        <li>
                                            <span>
                                                Управление социальной поддержки населения, г. Калининград, пр. Победы, 42, каб. 10, тел. 92-37-18 (Городничева Елена Владимировна);
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Центр «Доброволец» отдела спорта и молодежной политики: 21-45-26.
                                            </span>
                                        </li>
                                    </ul>
                                    <p>
                                        Итого марафона в 2017 году <a href="">здесь</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="single-page__column">
                            <div class="accent accent--block">
                                <div class="text">
                                    <h6>
                                        Для получения помощи в рамках марафона родителям (опекунам, законным представителям) детей с ограниченными возможностями здоровья необходимо подготовить пакет документов, включающий в себя: 
                                    </h6>
                                    <ol>
                                        <li>
                                            <span>
                                                Письмо с информацией о ребенке и подробным описанием просьбы о помощи;
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Подтверждение необходимости запрашиваемой помощи: актуальная выписка из истории болезни ребенка, ксерокопия свидетельства об инвалидности (при наличии);
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Документальное подтверждение стоимости запрашиваемой помощи (счет из больницы, за лекарства, реабилитационную технику и т.д.);
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Ксерокопия паспортов обоих родителей, если семья полная, или одного родителя, если семья неполная (если родители в разводе предоставляется копия свидетельства о разводе);
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Ксерокопия паспорта или свидетельства о рождении ребенка;
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Справка из Пенсионного Фонда РФ о размере начисляемой пенсии (при наличии инвалидности);
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Цветные фотографии ребенка (2 фотографии хорошего качества, крупный план, неформальный, непаспортный кадр);
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Справка о заработной плате работающих членов семьи (справка о заработной плате оформляется на бланке организации с указанием должности и оклада), для не работающих граждан копия трудовой книжки;
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Заключение органа соцзащиты о материальном положении семьи (Акт обследования материально-бытового положения семьи);
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Ксерокопия реквизитов расчетного счета родителя для перечисления благотворительной помощи (в случае положительного решения организационного комитета).
                                            </span>
                                        </li>
                                    </ol>
                                    <p>
                                        <b>
                                            Представить данный пакет документов по адресу: 
                                            г. Калининград, пр-кт Победы, 42, каб. 10, тел. 92-37-18 (Городничева Елена Владимировна)
                                        </b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @@include("../blocks/modules/form/form.html")
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
