<!DOCTYPE html>
<html lang="ru">
<head>
    <title>9. Юридическая помощь</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body body--style-1" style="background-image: url('img/page-decor--left.svg'), url('img/page-decor--right.svg'), url('img/page-decor--left2.svg'), url('img/page-decor--right2.svg');">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="/" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <a href="/5-page.html" class="breadcrumbs__link">
                        Получить помощь
                    </a>
                    <svg class="icon-svg breadcrumbs__arrow">
                        <use xlink:href="./img/sprites/sprite.svg#arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Юридическая помощь
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--top">
            <div class="container">
                <div class="title">
                    <h2 class="title__text">
                        Юридическая помощь
                    </h2>
                </div>
                <div class="text">
                    <p>
                        <b>Дорогие друзья!</b>
                    </p>
                    <p>
                        <b>Иногда возникают ситуации, когда при оказании медицинской помощи в лечебных учреждениях, нарушаются права ребенка.</b>
                    </p>
                </div>
                <article class="faq">
                    <div class="faq__head">
                        <div class="text">
                            <p>
                                <b>
                                    Что делать в самых распространенных случаях и куда обращаться?
                                </b> 
                            </p>
                        </div>
                    </div>
                    <div class="faq__content">
                        <div class="text">
                            <p>
                                Прежде всего, огромная просьба, быть вежливыми, насколько это возможно. Самый действенный способ все решать не с младшим медперсоналом, от которого ничего не зависит, а с главным врачом, его заместителем, или заведующим отделением.
                            </p>
                            <p>
                                <b>
                                    Федеральный закон от 21 ноября 2011 г. N 323-ФЗ «Об основах охраны здоровья граждан в Российской Федерации» гарантирует всем пациентам, в том числе детям, ряд прав, которые обязаны соблюдать все больницы нашей страны – государственные и частные, инфекционные клиники и родильные дома и пр.
                                </b>
                            </p>
                            <ul>
                                <li>
                                    <span>
                                        Согласно данному законодательству «несовершеннолетние в возрасте старше пятнадцати лет имеют право на информированное добровольное согласие на медицинское вмешательство или на отказ от. Исключением будут являться случаи экстренного вмешательства, опасные для окружающих, либо судебно-медицинская экспертиза. Поэтому если ребенку исполнилось 15 лет, то в вопросах, касающихся его здоровья и лечения, ребенок принимает решения сам.
                                        Право на безусловное постоянное присутствие при ребенке родители имеют в случаях: при взятии анализов, при инъекциях, при подготовке к операции, при перевязках и др. медицинских вмешательствах. Важно, что закон не ставит данное право в зависимость от бытовых условий или внутренних правил больницы, от степени тяжести состояния ребенка, от распоряжений врача и пр. Для родителя или иного члена семьи (дедушка, тетя) закон в такой ситуации не требует доверенности для нахождения вместе с ребенком. Достаточно согласия родителей для того, чтобы родственника допустили к совместному нахождению с ребенком. 
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Один из родителей, а также другие члены семьи имеют право на совместное нахождение с ним в больнице в течение всего периода лечения независимо от возраста ребенка. При совместном нахождении в медицинской организации в стационарных условиях с ребенком до достижения им возраста четырех лет, а с ребенком старше данного возраста — при наличии медицинских показаний, плата за создание условий пребывания в стационарных условиях, в том числе за предоставление спального места и питания, с указанных лиц не взимается.

                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Если ребенку отказывают в госпитализации, и у вас есть сомнение в правомочности этого отказа – необходимо идти к главврачу и писать заявление. В любом случае это должен быть письменный документ. То, что пациенту сказали устно, на самом деле ничего из себя не представляет — это может быть обычной отговоркой. Он должен попросить письменного объяснения ситуации. Пишите заявление в двух экземплярах: один отдавайте секретарю медицинского учреждения, второй оставляйте у себя — но на вашем секретарь пусть распишется и поставит печать. И тогда вы сможете и дальше отстаивать свои права.

                                    </span>
                                </li>
                                <li>
                                    <span>
                                        Если в госпитализации есть острая необходимость, то отказ – это неоказание медицинской помощи. Госпитализировать обязаны хоть в коридор, и оказать срочную медицинскую помощь — особенно если пациента в больницу привозит «скорая». Любой отказ в медицинской помощи также необходимо оформлять письменно. Всегда просите документ. А в нем должны быть дата и подпись врача. Если выяснится, что места в больнице были, а вас не госпитализировали — виновный врач и он будет нести административную ответственность. А если после отказа произошли серьезные события — наступает уголовная ответственность.
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                <div class="accent accent--block">
                    <div class="text">
                        <h2>
                            Куда обращаться, если, как вам кажется, что права ребенка нарушены?
                        </h2>
                        <p>
                            <b>ПРОКУРАТУРА КАЛИНИНГРАДСКОЙ ОБЛАСТИ:</b> <br>
                            Дежурный прокурор: тел./факс (4012) 576-860 <br>
                            Телефон доверия: тел. (4012) 576-860
                        </p>
                        <p>
                            <b>
                                УПОЛНОМОЧЕННЫЙ ПО ПРАВАМ ЧЕЛОВЕКА В КАЛИНИНГРАДСКОЙ ОБЛАСТИ:
                            </b> 
                            <br>
                            Тел/факс: +7 (4012) 95-83-50, 59-95-28
                        </p>
                        <p>
                            <b>
                                МИНИСТЕРСТВО ЗДРАВООХРАНЕНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ:
                            </b> 
                            <br>
                            «Горячая линия» Росздравнадзора по соблюдению прав граждан в сфере охраны здоровья: 8 800 500 18 35
                        </p>
                        <p>
                            <b>
                                МИНИСТЕРСТВО ЗДРАВООХРАНЕНИЯ КАЛИНИНГРАДСКОЙ ОБЛАСТИ:
                            </b><br>
                            8 (4012) 676 — 006 — «Горячая линия», <br>
                            8 (4012) 971 — 270 — «Горячая линия» по льготному лекарственного обеспечению

                        </p>
                        <p>
                            <b>
                                ТЕРРИТОРИАЛЬНЫЙ ОРГАН РОСЗДРАВНАДЗОРА ПО КАЛИНИНГРАДСКОЙ ОБЛАСТИ:
                            </b>
                            <br>
                            Телефон приемной: 8 (4012) 53-52-01
                        </p>
                        <p>
                            <b>
                                УПРАВЛЕНИЕ ФЕДЕРАЛЬНОЙ СЛУЖБЫ ПО НАДЗОРУ В СФЕРЕ ЗАЩИТЫ ПРАВ ПОТРЕБИТЕЛЕЙ И БЛАГОПОЛУЧИЯ ЧЕЛОВЕКА ПО КАЛИНИНГРАДСКОЙ ОБЛАСТИ:

                            </b>
                            <br>
                            Телефон приемной: 8 (4012) 53-69-42
                        </p>
                        <br>
                        <p>
                            Надеемся, что данная информация поможет вам в экстренных случаях.
                        </p>
                    </div>
                </div>                
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
