.map {
	height: 560px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $light;
	font-size: rem(18px);
	position: relative;
	z-index: 2;
	@include r(1080) {
		height: 380px;
		font-size: rem(16px);
	}
}