.sponsor {
	width: calc(50% - 10px);
	text-align: center;
	margin-bottom: rem(32px);
	@include r(580) {
		width: 100%;
	}
	&:hover {
		opacity: 0.7;
		cursor: pointer;
	}
	&--clear {
		display: block;
		overflow: hidden;
		height: 0px;
		@include r(700) {
			display: none;
		}
	}
	&:nth-child(2n+1) {
		.sponsor__bg {
			background-color: $orange;
		}
	}
	&:nth-child(2n) {
		.sponsor__bg {
			background-color: $blue;
		}
	}
	&__thumb {
		display: block;
		position: relative;
		border: 1px solid $green;
		margin-bottom: rem(16px);
		width: 100%;
		height: rem(212px);
		@include r(580) {
			height: auto;
		}
		img {
			display: block;
			z-index: 1;
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__bg {
		opacity: 0.2;
		position: absolute;
		top: 5px;
		left: 5px;
		height: 100%;
		width: 100%;
		z-index: 0;
	}
	&__name {
		font-weight: bold;
	}
	&__discript {
		margin-bottom: 1em;
		color: $blue;
	}
	&__info {
		b {
			font-weight: 500;
			display: block;
		}
	}
}