.title {
    color: $orange;
    margin-bottom: rem(45px);
    @include r(1080) {
        margin-bottom: rem(30px);
    }
    &--light {
        color: $light;
    }
    &--blue {
        color: $blue;
    }
    &--center {
        text-align: center;
    }
    &--toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include r(1080) {
            display: block;
        }
    }
    &__text {
        margin-bottom: rem(5px);
        font-weight: 800;
        font-size: rem(34px);
        line-height: rem(36px);
        @include r(1080) {
            font-size: rem(24px);
            line-height: 1.3;
            margin-bottom: 0;
            width: 100%;
        }
    }
    &__toolbar {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        @include r(1080) {
            margin-top: rem(12px);
        }
    }
    &__discript {
        line-height: 1.3;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        &--prev {
            svg {
                transform: rotate(180deg);
            }
        }
        &--next {

        }
    }
    @include r(1080) {

    }
}