.dropdown {
	background-color: $dark;
	color: $light;
	z-index: 3;
	max-height: 0px;
	@include r(1080) {
		display: none;
	}
	overflow: hidden;
	transition: 0.3s all;
	opacity: 0;
	&--open {
		max-height: 1600px;
		opacity: 1;
	}
	&__content {
		box-sizing: border-box;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: calc(100% / 12);
		padding-right: calc(100% / 12 * 3);
		column-count: 3;
		column-gap: 100px;
		li {
			border-bottom: 1px solid #557383;
			// padding-bottom: rem(10px);
			margin-bottom: rem(14px);
		}
		a {
			text-decoration: none;
			color: $light;
			font-weight: 500;
			display: inline-block;
			width: 100%;
			user-select: none !important;
			margin-bottom: 14px;
			
		}
		li {
			ul {
				li {
					border-bottom: 0px;
					padding-top: 0px;
					margin-bottom: 0.75rem;
					border-bottom: none;
				}
				a {
					color: $green;
					margin-bottom: 0px;
					
				}
			}
		}
	}
}