@import "modules/header/header";
@import "modules/front-intro/front-intro";
@import "modules/front-news/front-news";
@import "modules/sms/sms";
@import "modules/breadcrumbs/breadcrumbs";
@import "modules/info/info";
@import "modules/front-help/front-help";
@import "modules/front-programs/front-programs";
@import "modules/front-faq/front-faq";
@import "modules/front-reviews/front-reviews";
@import "modules/subscription/subscription";
@import "modules/friends/friends";
@import "modules/footer/footer";

@import "modules/article-news/article-news";
@import "modules/article-program/article-program";
@import "modules/article-children/article-children";
@import "modules/article-reviews/article-reviews";
@import "modules/socials/socials";
@import "modules/menu/menu";
@import "modules/tabs/tabs";
@import "modules/pagination/pagination";

@import "modules/0_page-single/page-single";
@import "modules/2_page-help-children/page-help-children";
@import "modules/11_page-news/page-news";
@import "modules/15_page-library/page-library";
@import "modules/17_page-programs/page-programs";
@import "modules/20_page-partners/page-partners";
@import "modules/23_page-reviews/page-reviews";