.subscription {
	&__form {
		width: 556px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		
	}
	&__inputs {
		display: flex;
		@include r(680) {
			display: block;
		}
		.form-control {
			background: rgba(255, 255, 255, 0.2);
			border-radius: 4px;
			overflow: hidden;
			margin-right: 20px;
			flex-grow: 1;
			font-weight: 500;
			font-size: 16px;
			height: 42px;
			min-width: 0px;
			border: none;
			color: $light;
			padding-left: 19px;
			padding-right: 19px;
			margin-bottom: 13px;
			box-sizing: border-box;
			&::placeholder {
				color: $light;
			}
			@include r(680) {
				display: block;
				width: 100%;
				height: 42px;
			}
		}
		.form-submit {
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 0px rgba(0, 0, 0, 0.02);
			border-radius: 4px;
			background-color: $light;
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 42px;
			box-sizing: border-box;
			overflow: hidden;
			width: 178px;
			cursor: pointer;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 13px;
			color: $dark;
			&--disabled {
				opacity: 0.5;
				pointer-events: none;
			}
			@include r(680) {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	&__check {
		display: flex;
		align-items: center;
		@include r(680) {
			justify-content: center;
		}
		input {
			display: none;
		}
		input:checked + .subscription__icon{
			.icon-svg {
				opacity: 1;
			}
		}
	}
	&__icon {
		background: rgba(255, 255, 255, 0.2);
		border-radius: 4px;
		width: 20px;
		height: 20px;
		margin-right: 11px;
		display: flex;
		justify-content: center;
		align-items: center;
		.icon-svg {
			position: relative;
			opacity: 0;
			height: 19px;
			width: 19px;
			left: 3px;
			top: -3px;
		}
	}
	&__check-text {
		font-size: 14px;
		user-select: none;
	}
}