.team-page {
	&__btn {
		text-align: center;
		width: 100%;
		max-width: 340px;
	}
	&__columns {
		display: flex;
		justify-content: space-between;
	}
	&__column {
		width: calc(100% / 3 - 20px);
		margin-bottom: 2rem;
		ul {
			color: $dark;
		}
	}
}