.front-faq {
	&__title {
		margin-bottom: 75px;
	}
	&__articles {
		display: flex;
		justify-content: space-between;
		margin-bottom: 56px;
		@include r(720) {
			display: block;
		}
	}
	&__btn {
		margin-left: auto;
		margin-right: auto;
	}
	&__article {
		display: block;
		width: 246px;
		color: $dark;
		text-decoration: none;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		@include r(1080) {
			margin-bottom: rem(40px);
		}
		&:hover {
			opacity: 0.75;
		}
	}
	&__icon {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		width: 124px;
		height: 124px;
		justify-content: center;
		align-items: center;
		border: 2px dashed $green;
		box-sizing: border-box;
		border-radius: 100px;
		margin-bottom: 20px;
	}
	&__subicon {
		width: 102px;
		height: 102px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100px;
		background-color: $green;
		svg {
			width: 50%;
			height: 50%;
			fill: $light;
			display: block;
		}
	}
	&__question {

	}
}