.pagination {
	text-align: center;
}

.nav-links {
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3px;
	padding-bottom: 3px;
}

.page-numbers {
	display: flex;
	align-items: center;
	font-size: rem(16px);
	line-height: rem(44px);
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	color: $dark;
	&:hover {
		opacity: 0.7;
	}
}

.current {
	background-color: $blue;
	position: relative;
	font-weight: bold;
	font-size: rem(18px);
	line-height: rem(22px);
	color: $light;
	pointer-events: none;
}

.prev {
	padding-left: rem(21px);
	padding-right: rem(31px);
	font-weight: 800;
	font-size: rem(16px);
	line-height: rem(24px);
	color: $blue;
}

.next {
	padding-right: rem(21px);
	padding-left: rem(31px);
	font-weight: 800;
	font-size: rem(16px);
	line-height: rem(24px);
	color: $blue;
}