.footer {
	font-size: rem(16px);
	display: flex;
	@include r(1080) {
		flex-wrap: wrap;
	}
	&__column {
		&--1 {
			@include r(1080) {
				width: 100%;
				text-align: center;
				margin-bottom: rem(20px);
			}
			@include r(700) {
				margin-bottom: rem(50px);
			}
		}
		&--2 {
			@include r(1080) {
				width: 50%;
				padding-right: rem(25px);

			}
			@include r(700) {
				text-align: center;
				width: 100%;
				margin-bottom: rem(20px);
			}
		}
		&--3 {
			@include r(1080) {
				width: 25%;
				padding-right: rem(25px);
			}
			@include r(700) {
				width: 50%;
				margin-bottom: rem(20px);
				text-align: center;
			}
			@include r(480) {
				width: 100%;
			}
		}
		&--4 {
			@include r(1080) {
				width: 25%;
				padding-right: rem(25px);
			}
			@include r(700) {
				width: 50%;
				margin-bottom: rem(20px);
				text-align: center;
			}
			@include r(480) {
				width: 100%;
			}
		}
	}
	&__link {
		color: $dark;
		text-decoration: none;
		display: block;
		margin-bottom: rem(27px);
		text-decoration: none;
		@include r(480) {
			margin-bottom: rem(16px);
		}
		&:hover {
			opacity: 0.7;
		}
		&:last-child {
			margin-bottom: 0;
		}

	}
	&__icon-link {
		display: flex;
		margin-bottom: rem(18px);
		color: $dark;
		text-decoration: none;
		&--active {
			&:hover {
				opacity: 0.7;
			}
		}
		svg {
			width: rem(24px);
			height: rem(24px);
			margin-right: rem(11px);
			flex-shrink:0;
		}
		strong {
			font-weight: 700;
			font-size: rem(18px);
		}
		@include r(700) {
			justify-content: center;
		}
	}
	&__logo {
		margin-bottom: rem(15px);
		display: inline-block;
		width: 160px;
		height: 84px;
		@include r(480) {
			width: 120px;
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
		&:hover {
			opacity: 0.7;
		}
	}
}