.footer {
	font-size: 14px;
	
	&__section {
		&--top {
			padding-top: 44px;
			padding-bottom: 44px;
		}
		&--bottom {
			background-color: $dark;
			color: $light;
			padding-top: 38px;
			padding-bottom: 38px;
		}
	}
	a {
		color: #EA4238;
		text-decoration: none;
		&:hover {
			color: $light;
		}
	}
}