.front-programs {
	padding-left: 113px;
	padding-right: 113px;
	position: relative;
	@include r(680) {
		padding-left: 10%;
		padding-right: 10%;
	}
	&__wrapper {
		position: static;
	}
	&__slider {
		position: static;
	}
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		border-radius: 100px;
		height: 123px;
		width: 123px;
		color: $light;
		margin-bottom: 25px;
		svg {
			display: block;
			width: 50%;
			height: 50%;
			fill: $light;
		}
	}
	&__slide {
		text-align: center;
		&:nth-child(2n+1){
			.front-programs__icon {
				background-color: $blue;
			}
		}
		&:nth-child(2n){
			.front-programs__icon {
				background-color: $orange;
			}
		}
	}
	&__slider-btn {
		&--prev {
			position: absolute;
			top: 41px;
			left: 0px;
		}
		&--next {
			position: absolute;
			top: 41px;
			right: 0px;
		}
	}
}