.front-news {
	padding-top: 50px;
	padding-bottom: 56px;
	&__title {
		margin-bottom: rem(50px);
	}
	&__articles {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(56px);
		flex-wrap: wrap;
		@include r(700) {
			margin-bottom: rem(25px);
		}
	}
	&__btn {
		margin-left: auto;
		margin-right: auto;
	}
}