.partner {
	text-align: center;
	text-decoration: none;
	margin-bottom: rem(35px);
	display: block;
	&--clear {
		height: 0px;
		overflow: hidden;
	}
	&:hover {
		opacity: 0.7;
	}
	&__thumb {
		margin-bottom: rem(15px);
		height: 210px;
		img {
			object-fit: contain;
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	&__title {
		color: $dark;
	}
}