.articles {
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: rem(25px);
		@include r(1080) {
			margin-bottom: rem(20px);
		}
		&--center {
			justify-content: center;
		}
	}
	&__item {
		width: 100%;
		&--50 {
			width: calc(50% - 10px);
			@include r(1080) {
				width: 100%;
			}
		}
		&--33 {
			width: calc(33% - 15px);
			@include r(1080) {
				width: 100%;
			}
		}
		&--25 {
			width: calc(25% - 10px);
			@include r(1080) {
				width: calc(50% - 20px);
			}
			@include r(580) {
				width: 100%;
			}
		}
		&--20 {
			width: calc(25% - 20px);
			@include r(1080) {
				width: calc(50% - 20px);
			}
			@include r(580) {
				width: 100%;
			}
		}
		&--clear {
			margin: 0;
			padding: 0;
			height: 0;
			visibility: hidden;
		}
		&:nth-child(2n+1) {
			.article__bg {
				background-color: $orange;
			}
		}
		&:nth-child(2n) {
			.article__bg {
				background-color: $blue;
			}
		}
		&:nth-child(4n+3) {
			.review__bg {
				background-color: $orange;
			}
		}
		&:nth-child(4n+2) {
			.review__bg {
				background-color: $orange;
			}
		}
		&:nth-child(4n+1) {
			.review__bg {
				background-color: $blue;
			}
		}
		&:nth-child(4n) {
			.review__bg {
				background-color: $blue;
			}
		}
		&:nth-child(2n + 1) {
			.article-children__bg {
				background-color: $orange;
			}
		}
		&:nth-child(2n) {
			.article-children__bg {
				background-color: $blue;
			}
		}
		&:nth-child(2n+1){
			.article-program__icon {
				background-color: $blue;
			}
		}
		&:nth-child(2n){
			.article-program__icon {
				background-color: $orange;
			}
		}
	}
	&__toolbar {
		text-align: center;
		&--mobile {
			display: none;
			@include r(1080) {
				display: block;
			}
		}
	}
}