svg, a {
    transition: 0.3s all;
}

.icon-svg {
    transition: 0.3s all;
    height: 1rem;
    width: 1rem;
}

input, button {
    font-family: $main-font;
    transition: 0.3s all;
}

.decor {
    z-index: -1;
    &--left {
        position: absolute;
        right: calc(100% + 35px);
    }
    &--right {
        position: absolute;
        left: calc(100% + 35px);
    }
}

.demo {
    padding-top: rem(35px);
    padding-bottom: rem(35px);
    font-size: rem(18px);
    &__container {
        display: flex;
    }
    &__column {
        width: 50%;
    }
    &__link {
        color: $dark;
        text-decoration: none;
        margin-bottom: rem(8px);
        display: block;
        &:hover {
            opacity: 0.7;
        }
    }
}