
.slider-btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #BECDD6;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    svg {
        display: block;
        width: 12px;
        height: 12px;
        fill: $light;
    }
    &:hover {
        background-color: $blue;
    }
    &--prev {
        svg {
            transform: rotate(180deg);
        }
    }
    &--next {
        
    }
    &--disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    &--team {
        margin-right: 10px;
        &:last-of-type {
            margin-right: 0px;
        }
    }
}