.title {
    text-align: center;
    color: $orange;
    &--light {
        color: $light;
    }
    &__text {
        margin-bottom: rem(5px);
        font-weight: 800;
        font-size: rem(34px);
        line-height: rem(36px);
    }
    &__discript {
        font-size: 16px;
        line-height: 24px;
    }
    @include r(1080) {

    }
}

.btn {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: rem(8px);
    cursor: pointer;
    text-decoration: none;
    color: $dark;
    &:hover {
        opacity: 0.75;
    }
    &--dasheed {
        width: 158px;
        border: 2px dashed $green;
        box-sizing: border-box;
        border-radius: 4px;
    }
    &--orange {
        height: 40px;
        border-radius: 25px;
        color: $light;
        background-color: $orange;
        font-weight: 800;
        font-size: rem(16px);
        line-height: rem(24px);
        box-shadow: 2px 2px 6px rgba(250, 135, 61, 0.5);
    }
    &--light {
        height: 40px;
        border-radius: 25px;
        color: $blue;
        background-color: $light;
        font-weight: 800;
        font-size: rem(16px);
        line-height: rem(24px);
    }
}

.slider-btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #BECDD6;
    width: 36px;
    height: 36px;
    svg {
        display: block;
        width: 12px;
        height: 12px;
        fill: $light;
    }
    &:hover {
        background-color: $blue;
    }
    &--prev {
        svg {
            transform: rotate(180deg);
        }
    }
    &--next {
        
    }
    &--disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.drop-card {
    border-top: 1px solid #C9E0EC;
    &--open {
        .drop-card__header {
            background-image: url('../img/minus-icon.svg');
            background-position: left 24px;
        }
        .drop-card__main {
            max-height: 10000px;
        }
    }
    &:last-child {
        border-bottom: 1px solid #C9E0EC;
    }
    &__header {
        padding: rem(16px) 0px rem(16px) rem(42px);
        cursor: pointer;
        display: block;
        text-decoration: none !important;
        color: $dark !important;
        background-image: url('../img/plus-icon.svg');
        background-repeat: no-repeat;
        background-position: left 18px;
        &:hover {
            opacity: 0.7;
        }
    }
    &__content {
        padding-bottom: rem(20px);
    }
    &__main {
        max-height: 0px;
        overflow: hidden;
    }
    p {
        margin-bottom: 0px;
    }
}